@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100px 0;
    }
}

.wave {
    display: inline-block;
    float: right;
    /*vertical-align: middle;*/
    height: 20px;
    width: 10%;
    border-radius: 100%;
    overflow: hidden;
    /* 	border: 3.6px solid #000; */
    background: url(../../img/5R7.svg);
    background-size: 50px 20px;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: move 5.1s linear infinite;
}

.list-group-item {
    padding: 0.5rem 0.7rem;
}

.list-group-item h6 {
    font-size: 0.9rem;
}

[id^="pli-"] {
    width: 80%;
    color: #444;
    display: inline-block;
}

body {
    background: url(../../img/asoggetti-723668-unsplash_cropped_lower.jpg) repeat-y 0 -250px fixed !important;
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.list-group-item,
.bg-semi-trans {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

*[id$="AlarmStart"],
*[id$="AlarmEnd"] {
    background-color: white !important;
}

.list-group-item {
    display: list-item !important;
    font-weight: 700;
}
.list-group {
    list-style: decimal inside;
}

#myTab {
    display: flex;
}

#tablet-indicator {
    display: none;
}

#brand-logo-min {
    width: 250px;
    /*height: 50%;*/
    content:url("../../api/file/logo_min.jpg");
}

#brand-logo-container-min {
    /*border: #ccc solid 1px;*/
    width: 100%;
}

#brand-logo-container {
    display: none;
}

#myTabContent {
    margin-top: 120px !important;
}

.bg-nav-trans {
    background: linear-gradient(to bottom,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,1) 50%,
    rgba(255,255,255,0) 100%);
}

.pi-sysdatetime {
    height: 30px;
    width: 140px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
    border-top: solid 1px rgba(0,0,0,0.3);
}

ol.playlist {
    width: 100%;
    height: 100%;
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
}

.pause-label {
    font-size: 0.85em;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
    font-weight: bold;
}

.version-label {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    font-size: 8pt;
}
